{% extends "base.html" %}
{% load static %}
<!-- END nav -->
{% block title %}
    Контакты
{% endblock title %}
{% block content %}
    <br>
    <div style="max-width: 800px; margin: 0 auto;">
        <div style="max-width: 800px; margin: 0 auto; ">
            <div style="margin-bottom: 10px;">
            <span style="color: #000; font-weight: bold; font-size: 1.5rem; line-height: 2.5;">Контакты:</span>
        </div>
        <div style="margin-bottom: 10px; line-height: 20px;">
            <label style="display: inline-block; width: 120px; font-weight: bold;">Организация:</label>
            <span style="color: #000;">ИП Леонтьев П.А.</span>
        </div>
        <div style="margin-bottom: 10px; line-height: 20px;">
            <label style="display: inline-block; width: 120px; font-weight: bold;">ОГРН:</label>
            <span style="color: #000;">305690413420014</span>
        </div>
        <div style="margin-bottom: 10px; line-height: 20px;">
            <label style="display: inline-block; width: 120px; font-weight: bold;">ИНН:</label>
            <span style="color: #000; line-height: 1.2;">509100348480</span>
        </div>
        <div style="margin-bottom: 10px; line-height: 20px;">
            <label style="display: inline-block; width: 120px; font-weight: bold;">Адрес:</label>
            <span style="color: #000; line-height: 0.5;">ул. Примерная, д. 123, г. Казань</span>
        </div>
        <div style="margin-bottom: 10px; line-height: 20px;">
            <label style="display: inline-block; width: 120px; font-weight: bold;">Телефон:</label>
            <a href="tel:+79297232435" style="color: #000; line-height: 0.5;">+7 (929) 723-24-35</a>
        </div>
        <div style="margin-bottom: 10px; line-height: 20px;">
            <label style="display: inline-block; width: 120px; font-weight: bold;">Email:</label>
            <a href="mailto:leontevpavel90@gmail.com" style="color: #000; line-height: 0.5;">leontevpavel90@gmail.com</a>
        </div>
        <div style="margin-bottom: 10px; line-height: 20px;">
            <label style="display: inline-block; width: 120px; font-weight: bold; line-height: 0.5">Сайт:</label>
            <a href="https://github.com/Pavel-Leo" style="color: #000; line-height: 0.5;">https://github.com/Pavel-Leo</a>
        </div>
        <br>
        <br>
        <p class="about-us"
           style="font-size: 1.4rem;
                  font-weight: bold;
                  color: #000">Есть вопросы или предложения? Напишите нам:</p>
        {% comment %} <br> {% endcomment %}
        <form method="post" action="{% url 'shop:feedback' %}">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control with-placeholder"
                          id="question"
                          name="question"
                          rows="4"
                          required
                          placeholder="Введите Ваш вопрос, отзыв или пожелание"></textarea>
            </div>
            <div class="form-group">
                <input type="email"
                       class="form-control with-placeholder"
                       id="email"
                       name="email"
                       required
                       placeholder="Введите email для получения ответа">
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        <script>
const inputFields = document.querySelectorAll('.with-placeholder');

inputFields.forEach(input => {
    const placeholderText = input.getAttribute('placeholder');

    input.addEventListener('focus', function() {
        this.removeAttribute('placeholder');
    });

    input.addEventListener('blur', function() {
        if (!this.value) {
            this.setAttribute('placeholder', placeholderText);
        }
    });
});
        </script>
    </div>
    <style>
        .form-control {
            font-size: 13px;
        }

        /* Стиль для ссылок */
        a {
            color: #000;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock content %}
