{% extends "base.html" %}
{% block title %}Отзыв отправлен.{% endblock %}
{% block content %}
 <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 ftco-animate">
                    <div class="cart-detail cart-total bg-light p-3 p-md-4">
                    <div class="order-info">
                        <h2 class="billing-heading mb-1">Выполнено</h2>
                        <br>
                            <p>Ваш отзыв успешно отправлен.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}