{% extends "base.html" %}
{% load static %}
{% block title %}
    Ваша корзина
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <div class="row no-gutters slider-text align-items-left ">
                        <div class="col-md-9 ftco-animate text-left">
                            <br>
                            <h2 class="mb-0 bread">Корзина</h2>
                            <br>
                        </div>
                    </div>
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>Изображение</th>
                                <th>Продукт</th>
                                <th>Количество</th>
                                <th></th>
                                <th>Цена</th>
                                <th>Итого</th>
                            </tr>
                        </thead>
                        {% for item in cart %}
                            {% with product=item.product %}
                                <tr>
                                    <td>
                                        <a href="{{ product.get_absolute_url }}">
                                            <img src="{% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" style="max-width: 150px; max-height: 150px;">
                                        </a>
                                    </td>
                                    <td style="max-width: 400px; word-wrap: break-word;">{{ product.name }}</td>
                                    <td>
                                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.override }}
                                            <input type="submit" value="Изменить">
                                            {% csrf_token %}
                                        </form>
                                    </td>
                                    <td>
                                        <a href="{% url "cart:cart_remove" product.id %}">Удалить</a>
                                    </td>
                                    <td class="num">
                                        {{ item.price }} <span>&#8381;</span>
                                    </td>
                                    <td class="num">
                                        {{ item.total_price }} <span>&#8381;</span>
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        <tr class="total" style="font-size: 25px;">
                            <td>Итого</td>
                            <td colspan="4"></td>
                            <td class="num" style="font-size: 25px;">
                                {{ cart.get_total_price }} <span>&#8381;</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-center">
                    {% comment %} <a href="{% url "shop:product_list" %}" class="button light">Continue shopping</a> {% endcomment %}
                    <a href="{% url 'orders:order_create' %}"
                       class="btn btn-primary py-3 px-4">Оформить заказ</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
