{% extends "base.html" %}
{% load static %}
<!-- END nav -->
{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Продукты
    {% endif %}
{% endblock title %}
{% block content %}
<br>
    {% block style %}
        <style>
            form label {
                display: inline-block;
                width: 150px;
                text-align: left;
                margin-right: 10px;
            }

            form input[type="text"],
            form input[type="email"],
            form select {
                display: inline-block;
                width: 250px;
                margin-bottom: 10px;
            }
        </style>
    {% endblock style %}
    <div class="row justify-content-center">
        <div class="col-xl-8 ftco-animate">
            <div class="order-info">
                <h3 class="mb-4 billing-heading">Оформление заказа</h3>
                <div class="row mt-5 pt-3 d-flex">
                    <div class="col-md-6 d-flex">
                        <div class="cart-detail cart-total bg-light p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Ваш заказ</h3>
                            <p class="d-flex">
                                {% for item in cart %}
                                    <li>
                                        {{ item.product.name }}
                                        <br>
                                        <span>{{ item.quantity }} x {{ item.price }} &#8381;</span></span>
                                        {% if not forloop.last %}<hr>{% endif %}
                                    </li>
                                {% endfor %}
                                <hr>
                                <br>
                                <p class="d-flex">
                                    <span>Сумма заказа</span>
                                    <span>{{ cart.get_total_price }} &#8381;</span>
                                </p>
							</p>
                                <p class="d-flex">
                                    <span>Delivery</span>
                                    <span>0.00 &#8381;</span>
                                </p>
                                <p class="d-flex">
                                    <span>Discount</span>
                                    <span>0.00 &#8381;</span>
                                </p>
                                <hr>
                                <p class="d-flex total-price">
                                    <span>Итого:</span>
                                    <span>00.00 &#8381;</span></span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex">
                            <div class="cart-detail bg-light p-3 p-md-4">
								<h3 class="billing-heading mb-4">Заполните поля</h3>
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}<div class="alert alert-danger">{{ error|escape }}</div>{% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error|escape }}</div>{% endfor %}
                                {% endif %}
                                <form method="post" class="class="order-form form-styled"">
                                    {{ form.as_p }}
                                    <p>
                                        <button type="submit" class="btn btn-primary py-3 px-4">Оформить заказ</button>
                                    </p>
                                    {% csrf_token %}
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- .col-md-8 -->
                </div>
            </div>
		</div>
        <!-- .section -->
    {% endblock content %}
