{% load static %}
<body class="goto-here">
    <div class="py-1 bg-black">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center">
                                <span class="icon-phone2"></span>
                            </div>
                            <span class="text"><a href="tel:+7(929)723-24-35" class="text">+7(929)723-24-35</a></span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center">
                            <a href="mailto:coffee-kzn@mail.ru" </a><span class="icon-envelope"></span>
                        </div>
                        <span class="text"><a href="mailto:leontevpavel90@gmail.com" class="text">leontevpavel90@gmail.com</a></span>
                    </div>
                    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                        <span class="text">Доставка по РФ 3-5 рабочих дней</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
     id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url "shop:product_list" %}">ChaiCoffee</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#ftco-nav"
                aria-controls="ftco-nav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url "shop:product_list" %}" class="nav-link">Главная страница</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="dropdown04"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Товары</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        {% for category in categories %}
                            <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{% url "shop:about" %}" class="nav-link">О нас</a>
                </li>
                <li class="nav-item">
                    <a href="{% url "posts:post_list" %}" class="nav-link">Блог</a>
                </li>
                <li class="nav-item">
                    <a href="{% url "shop:contacts" %}" class="nav-link">Контакты</a>
                </li>
                <li class="nav-item cta cta-colored">
                <a href="{% url 'cart:cart_detail' %}" class="nav-link"><span class="icon-shopping_cart"></span>
                {% if cart|length > 0 %}
                    {{ cart|length }}
                {% else %}
                    [0]
                {% endif %}
            </div>
        </a>
    </li>
</ul>
</div>
</div>
</nav>
<!-- END nav -->
