{% extends "base.html" %}
{% load static %}
{% block title %}
    Доставка
{% endblock title %}
{% block content %}
    <div class="container" style="max-width: 800px;">
        <br>
        <p style="font-weight: bold; font-size: 2em; color: black;">Доставка</p>
        <br>
        <br>
        <div style="display: flex; align-items: center;">
            <div style="flex: 1;">
                <p style="font-size: 3em; color: black;">Самовывоз</p>
                <p style="font-size: 1.5em; color: black;">Предварительно уточняйте время у менеджера.</p>
            </div>
            <div style="border-left: 2px solid black;
                        height: 300px;
                        margin: 0 20px;
                        color: black"></div>
            <div style="flex: 1;">
                <p style="font-weight: bold; color: black;">
                    <span style="display: inline-flex;
                                 justify-content: center;
                                 align-items: center;
                                 width: 20px;
                                 height: 20px;
                                 background-color: red;
                                 border-radius: 50%;
                                 color: white">1</span>
                    Чтобы оформить заказ в нашем интернет-магазине:
                </p>
                <p style="color: black;">
                    Укажите телефон и e-mail в <a href="{% url "shop:contacts" %}"
    style="color: #000;
           text-decoration: underline">форме обратной связи.</a>
                </p>
                <p style="font-weight: bold; color: black;">
                    <span style="display: inline-flex;
                                 justify-content: center;
                                 align-items: center;
                                 width: 20px;
                                 height: 20px;
                                 background-color: red;
                                 border-radius: 50%;
                                 color: white">2</span>
                    В течение 30 минут в рабочее время мы свяжемся с Вами для подтверждения заказа.
                </p>
                <p style="font-weight: bold; color: black;">
                    <span style="display: inline-flex;
                                 justify-content: center;
                                 align-items: center;
                                 width: 20px;
                                 height: 20px;
                                 background-color: red;
                                 border-radius: 50%;
                                 color: white">3</span>
                    Самовывоз осуществляется из офиса (с 10:00 до 17:00) по адресу: ул. Примерная, д. 123, г. Казань
                </p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <class ="container" style="max-width: 800px;">
        <div style="display: flex; align-items: center;">
            <div style="flex: 1;">
                <p style="font-size: 3em; color: black;">Доставка по Казани</p>
                <p style="font-size: 1.5em; color: black;">на следующий день.</p>
            </div>
            <div style="border-left: 2px solid black;
                        height: 285px;
                        margin: 0 20px;
                        color: black"></div>
            <div style="flex: 1;">
                <p style="font-weight: bold; color: black;">
                    <span style="display: inline-flex;
                                 justify-content: center;
                                 align-items: center;
                                 width: 20px;
                                 height: 20px;
                                 background-color: red;
                                 border-radius: 50%;
                                 color: white">1</span>
                    Оформите заказ в нашем интернет-магазине, заполните все необходимые поля формы.
                </p>
                <p style="font-weight: bold; color: black;">
                    <span style="display: inline-flex;
                                 justify-content: center;
                                 align-items: center;
                                 width: 20px;
                                 height: 20px;
                                 background-color: red;
                                 border-radius: 50%;
                                 color: white">2</span>
                    В течение 30 минут в рабочее время мы свяжемся с Вами для подтверждения заказа.
                </p>
                <p style="font-weight: bold; color: black;">
                    <span style="display: inline-flex;
                                 justify-content: center;
                                 align-items: center;
                                 width: 20px;
                                 height: 20px;
                                 background-color: red;
                                 border-radius: 50%;
                                 color: white">3</span>
                    Ожидайте доставку в выбранный Вами день, наш курьер свяжется с Вами за 30 минут до прибытия.
                </p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div style="display: flex; align-items: center;">
            <div style="flex: 1;">
                <p style="font-size: 3em; color: black;">Доставка по РФ</p>
                <p style="font-size: 1.5em; color: black;">транспортной компанией.</p>
            </div>
            <div style="border-left: 2px solid black;
                        height: 260px;
                        margin: 0 20px;
                        color: black"></div>
            <div style="flex: 1;">
                <p style="font-weight: bold; color: black;">
                    <span style="display: inline-flex;
                                 justify-content: center;
                                 align-items: center;
                                 width: 20px;
                                 height: 20px;
                                 background-color: red;
                                 border-radius: 50%;
                                 color: white">1</span>
                    Оформите заказ в нашем интернет-магазине, заполните все необходимые поля формы.
                </p>
                <p style="font-weight: bold; color: black;">
                    <span style="display: inline-flex;
                                 justify-content: center;
                                 align-items: center;
                                 width: 20px;
                                 height: 20px;
                                 background-color: red;
                                 border-radius: 50%;
                                 color: white">2</span>
                    В течение 30 минут в рабочее время мы свяжемся с Вами для подтверждения заказа.
                </p>
                <p style="font-weight: bold; color: black;">
                    <span style="display: inline-flex;
                                 justify-content: center;
                                 align-items: center;
                                 width: 20px;
                                 height: 20px;
                                 background-color: red;
                                 border-radius: 50%;
                                 color: white">3</span>
                    После оплаты ожидайте получение ТТН об отправки груза на указанный при оформлении e-mail.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
