{% extends "base.html" %}
{% load static %}
<!-- END nav -->
{% block title %}
    Как купить товар
{% endblock title %}
{% block content %}
    <div class="container" style="max-width: 800px;">
        <br>
        <br>
        <p style="font-size: 1.5rem; color: #000;">
            <strong>Как сделать покупку?
                <br>
            Для оформления заказа выполните четыре шага:</strong>
        </p>
        <br>
        <br>
        <div style="display: flex; align-items: center;">
            <div style="width: 130px;
                        height: 100px;
                        background-color: lightgray;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px">
                <span style="color: red; font-size: 44px; font-weight: bold ">1</span>
            </div>
            <div>
                <h4 style="font-weight: bold; color: black;">Выбрать нужный товар</h4>
                <p style="color: black;">Вы выбираете нужный товар. Познакомьтесь с его фотографиями, описанием и характеристиками.</p>
            </div>
        </div>
        <br>
        <br>
        <div style="display: flex; align-items: center;">
            <div style="width: 130px;
                        height: 100px;
                        background-color: lightgray;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px">
                <span style="color: red; font-size: 44px; font-weight: bold ">2</span>
            </div>
            <div>
                <h4 style="font-weight: bold; color: black;">Добавить товар в корзину</h4>
                <p style="color: black;">
                    Нажимаете кнопку " В корзину" и товар попадает в Корзину. Выберите нужное количество товара.
                </p>
            </div>
        </div>
        <br>
        <br>
        <div style="display: flex; align-items: center;">
            <div style="width: 130px;
                        height: 100px;
                        background-color: lightgray;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px">
                <span style="color: red; font-size: 44px; font-weight: bold ">3</span>
            </div>
            <div>
                <h4 style="font-weight: bold; color: black;">Совершить оформление заказа</h4>
                <p style="color: black;">
                    Для оформления доставки следует перейти в Корзину, нажать кнопку оформить и заполнить форму.
                </p>
            </div>
        </div>
        <br>
        <br>
        <div style="display: flex; align-items: center;">
            <div style="width: 130px;
                        height: 100px;
                        background-color: lightgray;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px">
                <span style="color: red; font-size: 44px; font-weight: bold ">4</span>
            </div>
            <div>
                <h4 style="font-weight: bold; color: black;">Совершить оплату заказа</h4>
                <p style="color: black;">
                    После оформления нажмите на кнопку перейти к оплате, заполните данные и нажмите "Оплатить".
                </p>
            </div>
        </div>
        <br>
        <br>
        <p style="font-size: 1.2rem; color: #000;">
            <strong>Проконсультируйтесь перед покупкой</strong>
        </p>
        <p style="font-size: 0.8rem; color: #000;">
            Если Вы не знаете какой кофе выбрать, не уверены, подойдет ли чистящее средство для Вашей кофемашины или любой другой вопрос - смело звоните по нашим номерам. Вежливые менеджеры всегда готовы помочь оформить заказ по телефону или проконсультировать по всем техническим вопросам.
        </p>
{% endblock content %}
