{% extends "base.html" %}
{% load static %}
<!-- END nav -->
{% block title %}
        Защита персональных данных
{% endblock title %}
{% block content %}
        <div class="container" style="max-width: 800px;">
                <br>
                <p style="font-size: 1.9rem; color: #000;">
                        <strong>Положение о конфиденциальности и защите персональных данных</strong>
                </p>
                <br>
                <p style="font-size: 0.9rem; color: #000;">
                        Настоящее Положение о конфиденциальности и защите персональных данных действует в отношении всей информации, которую интернет-магазин chaicoffee.ru, расположенный на доменном имени chaicoffee.ru, может получить о Клиенте во время использования сайта интернет-магазина, программ и продуктов интернет-магазина.
                        <br>
                        <br>
                        Вы можете не предоставлять свои персональные данные (не проходить регистрацию), если вы зашли на сайт chaicoffee.ru с ознакомительными целями, чтобы составить впечатление об ассортименте и ценах представленных на нашем сайте товаров, а также оценить по отзывам качество обслуживания Клиентов нашего интернет-магазина.
                        <br>
                        <br>
                        <strong>Предоставление персональных данных</strong>
                        <br>
                        <br>
                        Мы просим вас предоставить ваши персональные данные  для оформления вами заказа в нашем интернет-магазине. От вас потребуется пройти процедуру регистрации Клиента и/или предоставить менеджеру Call-центра свои персональные данные, чтобы мы могли в полном объеме выполнить свои обязательства перед вами по обработке и доставке заказа.
                        <br>
                        <br>
                        <strong>Персональные данные</strong>
                        <br>
                        <br>
                        Ваши персональные данные могут включать в себя такую информацию, как:
                        <br>
                        - фамилия, имя, отчество;
                        <br>
                        - контактный телефон;
                        <br>
                        - адрес электронной почты;
                        <br>
                        - адрес для доставки заказанных на нашем сайте товаров;
                        <br>
                        <br>
                        а также другую информацию, которую вы захотите предоставить любым способом. Предоставляя свои персональные данные, вы соглашаетесь на их обработку в целях исполнения нами своих обязательств перед вами по продаже товаров и предоставлению услуг, предоставления вам справочной информации об изменениях в условиях обслуживании Клиентов, о новых продуктах, акциях, промокодах, а также в целях продвижения товаров, работ и услуг.
                        <br>
                        <br>
                        <strong>Обработка персональных данных</strong>
                        <br>
                        <br>
                        При обработке ваших персональных данных мы руководствуется положениями Федерального закона Российской Федерации от 27.07.2006 N 152-ФЗ «О персональных данных», Федерального закона Российской Федерации 27.07.2006 N 149-ФЗ «Об информации, информационных технологиях и о защите информации», а также иными нормативными документами в области защиты и обработки персональных данных.
                        <br>
                        <br>
                        Персональная информация, которую мы собираем, позволяет нам оперативно направлять Клиентам уведомления о процессе выполнения нами заказов, об изменениях в положениях Бонусной программы, условиях продажи, новинках, заметных обновлениях цен, специальных предложениях и важных событиях. Если вы не желаете быть включенным в наш список рассылки, вы можете в любое время отказаться от получения рассылки путем нажатия ссылки «Отписаться от рассылки» в любом нашем письме (рассылке) либо уведомив о вашем желании перестать получать наши рассылки, направив письмо на почту Службы поддержки покупателей leontevpavel90@gmail.ru
                        <br>
                        <br>
                        <strong>Обязательства</strong>
                        <br>
                        <br>
                        Мы обязуемся не передавать полученную от вас информацию третьим лицам. Не считается нарушением предоставление нами информации третьим лицам, действующим на основании договоров с интернет-магазином ShopKofe.ru (почтовые, курьерские службы и т.д.), для исполнения нами обязательств перед Клиентами и только в рамках таких договоров. Не считается нарушением обязательств передача конфиденциальной информации о персональных данных в компетентные органы по надлежаще оформленным запросам в соответствии с требованиями действующего законодательства Российской Федерации.
                        <br>
                        <br>
                        <strong>Безопасность персональных данных</strong>
                        <br>
                        <br>
                        При обработке ваших персональных данных мы уделяем большое внимание обеспечению безопасности вашей личной информации. Мы применяем необходимые и достаточные современные технологии в области защиты персональных данных наших Клиентов для ограничения несанкционированного и неправомерного доступа к ним.
                        <br>
                        <br>
                        <strong>Ответственность</strong>
                        <br>
                        <br>
                        Мы не несем ответственности в любой форме за информацию, в том числе конфиденциального характера, размещенную вами на нашем сайте в общедоступной форме, в частности на странице «Отзывы». Мы оставляем за собой право вносить изменения в настоящее «Положение о Конфиденциальности и защите персональных данных». Это может быть вызвано изменениями действующего законодательства в области персональных данных, а также меняющейся ситуацией на рынке. Мы обязуемся незамедлительно извещать вас об этом путем опубликования на нашем сайте текста «Положения» с внесенными правками.
                        <br>
                        <br>
                </div>
        {% endblock content %}
