{% extends "base.html" %}
{% load static %}
<!-- END nav -->
{% block title %}
    Возврат и обмена
{% endblock title %}
{% block content %}
    <div class="container" style="max-width: 800px;">
        <br>
        <p style="font-size: 1.9rem; color: #000;">
            <strong>Возврат и обмена товаров.</strong>
        </p>
        <br>
        <p style="font-size: 0.9rem; color: #000;">
            Обращаем Ваше внимание на то, что продовольственные товары (в том числе и кофе) надлежащего качества и товары, перечисленные в «Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки и комплектации», утвержденном Постановлением Правительства РФ от 19 января 1998 года № 55, не подлежат обмену и возврату.
            <br>
            <br>
            <br>
            В соответствии с нормами действующего законодательства Российской Федерации, вы как потребитель вправе потребовать от нас:
            <br>
            <br>
            - обменять не подошедший по каким-либо характеристикам товар надлежащего качества на другой товар в течение 14 дней со дня приобретения товара (непродовольственный товар);
            <br>
            <br>
            - вернуть товар надлежащего качества в течении 7 дней после его получения (непродовольственный товар);
            <br>
            <br>
            - заменить или вернуть товар ненадлежащего качества.
            <br>
            <br>
            <p style="font-size: 1.1rem; color: #000;">
                <strong>Обмен не подошедшего товара надлежащего качества на другой товар в течении 14 дней со дня приобретения товара (непродовольственный товар)</strong>
            </p>
            <p style="font-size: 0.9rem; color: #000;">
                Обмен товара надлежащего качества возможен в случае, если сохранены его товарный вид (упаковка, пломбы, ярлыки), потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара (товарный или кассовый чек). Для обмена товара также необходим документ, удостоверяющий личность. В связи с особенностями дистанционного способа продажи, замена товара может быть выполнена только посредством возврата товара надлежащего качества и оформления нового заказа на аналогичный товар.
                <br>
                <br>
                При обмене товара надлежащего качества мы оставляем за собой право провести экспертизу товара с целью определить его качество и сохранность потребительских свойств.
                <br>
                <br>
                Для получения информации об обмене товара см. раздел «Порядок предъявления претензий по качеству, обмен и возврат товара»
                <br>
                <br>
                <p style="font-size: 1.1rem; color: #000;">
                    <strong>Возврат товара надлежащего качества в течении 7 дней после его получения (непродовольственный товар)</strong>
                </p>
                <p style="font-size: 0.9rem; color: #000;">
                    На основании ст. 26.1. Закона РФ «О защите прав потребителей» Вы можете отказаться от заказанного товара в любое время до его получения, а после получения - в течение 7 дней. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид (упаковка, пломбы, ярлыки), потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара (товарный или кассовый чек). Для возврата товара также необходим документ, удостоверяющий личность.
                    <br>
                    <br>
                    При возврате товара надлежащего качества, мы вернём его стоимость не позднее чем через 10 дней с момента получения товара и Вашего письменного заявления однако в пределах указанного срока мы вправе провести экспертизу товара с целью определить его качество и сохранность потребительских свойств. В случае отказа покупателя от товара надлежащего качества, стоимость доставки товара не возвращается.
                    <br>
                    <br>
                    В соответствии с законодательством обмену и возврату не подлежат товары надлежащего качества:
                    <br>
                    <br>
                    - Имеющие индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его покупателем;
                    <br>
                    - Указанные в перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену, утвержденном Постановлением Правительства РФ от 19.01.1998 № 55.
                    <br>
                    <br>
                    Для получения информации о возврате товара надлежащего качества см. раздел «Порядок предъявления претензий по качеству, обмен и возврат товара»
                    <br>
                    <br>
                    <p style="font-size: 1.1rem; color: #000;">
                        <strong>Замена или возврат товара ненадлежащего качества</strong>
                    </p>
                    <p style="font-size: 0.9rem; color: #000;">
                        Под товаром ненадлежащего качества подразумевается товар, который неисправен и не может обеспечить исполнение своих функциональных качеств. В случае выявления недостатков товара при эксплуатации в течение гарантийного срока, рекомендуем Вам внимательно ознакомиться с инструкцией по эксплуатации товара, чтобы самостоятельно определить, все ли требования по эксплуатации приобретенного товара выполнены в соответствии с указанной инструкцией.
                        <br>
                        <br>
                        Внешний вид и комплектность товара, а также комплектность всего заказа должны быть проверены получателем в момент доставки товара (кроме доставки почтой или транспортными компаниями). При доставке товара, Вы ставите свою подпись в товарном чеке в графе: «Заказ принял, комплектность полная, претензий к количеству и внешнему виду товара не имею. С условиями возврата товара ознакомлен».
                        <br>
                        <br>
                        После получения заказа претензии к внешним дефектам товара, его количеству, комплектности и товарному виду не принимаются.
                        <br>
                        <br>
                        Если Вам был передан товар ненадлежащего качества, и оно не было заранее оговорено продавцом, Вы вправе воспользоваться положениями ст. 18 Закона о защите прав потребителей.
                        <br>
                        <br>
                        Вы вправе отказаться от исполнения договора купли-продажи, возвратить товар ненадлежащего качества и потребовать возврата уплаченной за товар денежной суммы в течении 15 дней со дня передачи потребителю такого товара.
                        <br>
                        <br>
                        Любые из перечисленных требований должны быть предъявлены Вами в письменной форме посредством заполнения заявления, см. раздел «Порядок предъявления претензий к качеству и возврат товара».
                        <br>
                        <br>
                        Требования о возврате уплаченной за товар денежной суммы подлежат удовлетворению в течение 10 дней со дня предъявления соответствующего требования (ст. 22 Закона РФ «О защите прав потребителей»).
                        <br>
                        <br>
                        <p style="font-size: 1.1rem; color: #000;">
                            <strong>Порядок предъявления претензий по качеству, обмен и возврат товара</strong>
                        </p>
                        <p style="font-size: 0.9rem; color: #000;">
                            В случае предъявления претензий к качеству товара, обмена или возврата, порядок действий следующий:
                            <br>
                            <br>
                            1. Заполните соответствующее заявление:
                            <br>
                            <br>
                            - Заявление на возврат/обмен товара надлежащего качества
                            <br>
                            <br>
                            - Заявление на возврат товара ненадлежащего качества
                            <br>
                            <br>
                            Обращаем Ваше внимание, что возврат денежных средств в соответствии с действующим законодательством РФ возможен только в виде, в котором была осуществлена оплата товара (т.е. в случае оплаты товара банковской картой, возврат денежных средств наличными запрещен, возврат осуществляется обратно на банковскую карту).
                            <br>
                            <br>
                            Основание: п. 2 Указания Банка России от 20 июня 2007 г. N 1843-У и Письмо ЦБ РФ от 01.08.2011 г. «О возврате денежных средств за товар (услугу) ранее оплаченной с использованием платежной карты».
                            <br>
                            <br>
                            2. Приложите товарный и/или кассовый чек
                            <br>
                            <br>
                            Отсутствие товарного/кассового чека либо иного документа, удостоверяющего факт и условия покупки товара, не является основанием для отказа в удовлетворении Ваших требований, однако мы оставляем за собой право проверить факт приобретения товара именно в нашем интернет-магазине.
                            <br>
                            <br>
                            Также при возврате необходимо иметь при себе документ, удостоверяющий личность покупателя, а в случае дистанционной передачи товара, приложить к возврату копию его главного разворота.
                            <br>
                            <br>
                            3. Со всеми вышеперечисленными документами Вы можете обратиться по адресу: 127550, г. Казань, ул. Примерная, д. 123, оф. 21.
                            <br>
                            <br>
                            Покупателям из других регионов возврат товара необходимо осуществить той же транспортной компанией, что и осуществлялась доставка (либо согласовать транспортную компанию с менеджером ведущим заказ по тел. +7 (929) 723-24-35 или почте leontevpavel90@gmail.com).
                            <br>
                            <br>
                            Помимо документов, перечисленных выше, необходимо:
                            <br>
                            - передать товар в полной комплектации, со всеми комплектующими и полным комплектом принадлежностей, указанным в технической документации (технический паспорт или заменяющий его документ);
                            <br>
                            <br>
                            - приложить заключения сервисных центров, если Вы обращались в них.
                            <br>
                            <br>
                            Для получения дополнительной информации, а также для рассмотрения претензий к качеству товара в индивидуальном порядке, и принятия решения, просим вам направить обращение в Отдел претензий. Просим вас подробно изложить возникшую проблему с товаром. Мы постараемся найти оптимальное для вас решение.
                        </div>
                    {% endblock content %}
